*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}
main{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 120vh;
    flex-direction: row;
}
.left{
    background-color: hsl(31, 77%, 52%);
    padding: 1.5em;
    height: 50%;
    width: 50%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
   
}
.middle{
    background-color: hsl(184, 100%, 22%);
    padding: 1em;
    height: 50%;
    width: 35%;
}
.right{
    background-color: hsl(179, 100%, 13%);
    padding: 1.5em;
    height: 50%;
    width: 50%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
h3{
    color: hsl(0, 0%, 95%);
    margin-bottom: 20%;
    font-family: 'Big Shoulders Display', cursive; 

}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca',sans-serif;
    
}
button{
    padding: 6px;
    margin-top: 40%;
    border-radius: 2rem;
    border-color: hsl(0, 0%, 95%);    
    width: 70%;
    height: 6vh;
    cursor: pointer;
    background-color: hsl(0, 0%, 95%);
}
button:hover{
    transform: scale(1.2)
}
img{
    width: 20%;
    height: 10vh;
}